$clr1: rgb(20, 67, 114);
.app-info {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-row: 1/1;
    background-color: $clr1;
    color: rgb(239, 239, 239);
    padding: 20px 16px;
    .name-role{
        .name{
            font-size: 26px;
            font-weight: 500;
        }
        .role{
            font-weight: 200;
            margin-top: 5px;
            font-size: 15px;
            letter-spacing: 1.5px;
            color: rgb(239, 231, 231);
        }
    }
    .about{
        margin: 2rem auto;
        max-width: 840px;
        // text-align: center;
        padding-left: 10px;
        border-left: 5px solid grey;
        p{
            font-size: 16px;
            color: white;
        }
    }
    img {
        margin-top: 2rem;
        height: 110px;
        width: 110px;
        border-radius: 50%;
        border: 6px solid $clr1;
    }
    .contact{
        width: 100%;
        border-left: 5px solid grey;
        padding-left: 10px;
        height: 250px;
        > *{
            flex:1;
            flex-direction: column;
        }
        .title{
            width: 90px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            margin-bottom: 1.5px;
        }
        p,a{
            font-size: 14px;
            color: lightgray;
        }
    }
}